# ignore all environment settings (IDE, jupyter, etc.)
.idea/
venv/
.venv/
.vscode/

# ignore all analysis settings
*.ipynb_checkpoints/

# ignore cache
*__pycache__/
*.cached
*.lock

# ignore large directories (however, these directories are essential and must be downloaded from elsewhere)
resource/bleurt/
resource/dataset/new_pen.json
resource/dataset/math23k_only.json
