# ignore all environment settings (IDE, jupyter, etc.)
.idea/
venv/
.venv/
.vscode/

# ignore cache
*__pycache__/
*.cached
*.lock

# ignore large directories (however, these directories are essential and must be downloaded from elsewhere)
resource/bleurt/
resource/dataset/new_pen.json
resource/dataset/math23k_only.json
resource/dataset/math23k_preproc/archive/
runs/

# ignore peripheral directories and scripts
*synology*

# ignore files that are used only for testing and simple analysis
number_of_excluded_from_math23k_only
distribution_analysis/
